
@{
    ViewData["Title"] = "Login";
}

@model LoginVM

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-10">
        <div class="card rounded-3 text-black">
            <div class="row g-0">
               
                    <div class="card-body p-md-5 mx-md-4">

                        <div class="text-center">
                            <img src="~/images/authorAdmin.jpg"
                                 style="width: 300px;" alt="logo">
                            <h4 class="mt-1 mb-5 pb-1"></h4>
                        </div>

                        <form asp-action="Login" method="post">


                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example11">Kullanıcı adı:</label>
                                <input id="form2Example11" asp-for="UserName" class="form-control"
                                       placeholder="Kullanıcı Adı" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example22">Parola:</label>
                                <input type="password" asp-for="Password" id="form2Example22" class="form-control" placeholder="Parola"/>
                            </div>

                            <div class="text-center pt-1 mb-5 pb-1">
                            <input type="submit" class="btn btn-primary btn-block" value="Giriş Yap" asp-route-Name="@User.Identity.Name" />
                            </div>

                            <div class="d-flex align-items-center justify-content-center pb-4">
                                <p class="mb-0 me-2">Hesabınız yok mu?</p>
                                <a asp-action="Register" class="btn btn-outline-danger">Hesap oluştur</a>
                            </div>

                        </form>

                    </div>
                </div>
               
           
        </div>
    </div>
</div>



