
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-grid">
    <a class="btn btn-sm btn-secondary" style="color:azure; font-size:larger" asp-action="List">Rolleri Listele</a>
    <br />
    <a class="btn btn-sm btn-info" style="color:azure; font-size:larger" asp-action="ListUsers">Kullanıcıları Listele</a>
    <br />
    <a class="btn btn-primary" style="color:azure; font-size:larger" asp-action="Create">Yeni Rol Ekle</a>

</div>
<!-- end d-grid -->

