@using Blog123.UI.Areas.Admin.ViewModels.CategoryVMs;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model CategoryEditVM
<div class="row">
    <div class="col-lg-6">
        <form method="post" asp-action="Edit" asp-area="Admin" asp-controller="Category">

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Status" />
  <!-- Name input -->
  <div class="form-outline mb-4">
                <label class="form-label" for="form4Example1">Kategori Adı</label>
                <input asp-for="Name" id="form4Example1" class="form-control" />
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
                <label class="form-label" for="form4Example2">Kategori Kodu</label>
                <input asp-for="Code" id="form4Example2" class="form-control" />
  </div>


  <!-- Submit button -->
  <input type="submit" class="btn btn-primary btn-block mb-4" value="Değişiklikleri Kaydet"/>
</form>
    </div>
</div>

