@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-grid">
    <a class="btn btn-sm btn-secondary" style="color:azure; font-size:larger" asp-action="GetAllActiveCategories">Tüm Aktif Kategorileri Listele</a>
    <br />
    <a class="btn btn-sm btn-info" style="color:azure; font-size:larger" asp-action="GetAllCategories">Tüm Kategorileri Listele</a>
    <br />
    <a class="btn btn-primary" style="color:azure; font-size:larger" asp-action="Create">Yeni Kategori Ekle</a>
    
</div>
<!-- end d-grid -->